# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyc

# virtual environment
venv/
.env/
.venv/

# =========================
# Cython
# =========================
*.c
*.so
*.pyd
*.dll

# Cython build
build/
dist/
services/tile_service/build
# =========================
# Node / JS
# =========================
node_modules/
npm-debug.log
yarn-error.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Python packaging
# =========================
*.egg-info/
.eggs/


# =========================
# Files
# =========================
storage/

benchmark_results/

.env

.VsCodeCounter/
